<web-app>
    <display-name>хуяк</display-name>

   <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/spring-ws-servlet.xml</param-value>
    </context-param>
    <servlet>
        <servlet-name>spring-ws</servlet-name>
        <!--  <servlet-class>org.services.Starter</servlet-class>-->
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
 <!--   <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>spring-ws-servlet.xml</param-value>
        </init-param>-->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>spring-ws</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

</web-app>